body {
  background-color: #ccf2ff;
  text-align: center;
}

img {
  max-width: 100%;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: red;
  text-decoration: line-through;
}

a:hover {
  color: blue;
  text-decoration: overline;
}
