html {
  height: 100%;
}
body {
margin: 0;
height: 100%;
background-repeat: repeat;
background-attachment: fixed;
text-align: center;
line-height: 1.4em;
font-size: 2em;
font-family: "Courier New", Courier, monospace;
}

img {
  max-width: 100%;
}

#starry {
color: white;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

}

#starry a:link {
  color: white;
}

#starry a:visited {
  color: white;
}

#starry a:hover {
  color: white;
  font-style: italic;
  text-decoration: none;
}

/* COR PAGE 1 */
.top1, .bottom1 {
  float: left;
  width: 50%;
}

.bottom1 p {
  margin-top: 30%;
}

/* FOR PAGE 2 */
.top2, .bottom2 {
  margin-top: 50px;
  height: 20%;
}

/* For Page 3 */
/* For Page 4 */

/* For Page 5*/

/* For Page 6*/

/* For Page 7 */


/* For Page 8*/
