body {
  position: relative;
  background-color: 	#242424;
  width: 1440px;
  color:	white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 0;
  padding: 50px 50px 50px 50px;
}

body h1, body h2 {
    margin: 0 0 0 0;
}

/*reference
red:ad1313
green:5cdb95
bg:242424
lighterblue: 3500d3*/
.topbar, .midbar {
  text-align: left;
  padding: 10px 0 10px 1100px ;
  background-color: #ad1313;
  width: 340px;
}
.greenbarL {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 1440px 0 0;
  border-color: #5cdb95 transparent transparent transparent;
}

.authorbar {
  margin: 0 0 0 1000px;
}

.greenbarR {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1440px 50px 0;
  border-color: transparent #5cdb95 transparent transparent;
}

.textbox {
  padding: 50px 50px 50px 50px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}
