html {
  height: 100%;
}
body {
margin: 0;
height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}

#darkbod{
  background-color: Gray;
}

#container {
  width: 120%;
  margin: -50px 0 0 -10%;

}


.tile1, .tile2, .tile3  {
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}

.tile1 {
  background-color: dodgerblue;
  transform: rotate(45deg);
}

.tile2 {
  background-color: rebeccapurple;
  transform: rotate(45deg);
}

.tile3 {
  background-color: pink;
}

/* BREAK - PATTERN 2 */
.tile4, .tile5, .tile6 {
  float: left;
  opacity: .8;
}

.tile4 {
  width: 50px;
  height: 50px;
  border-radius: 80%;
  margin: 10px;
  background-color: Cyan;
}

.tile5 {
  width: 100px;
  height: 10px;
  margin: 0 -10px 0 -10px;
  background-color: Tomato;
}

.tile6 {
  width: 10px;
  height: 100px;
  margin: 0 -10px 0 -10px;
  background-color: SpringGreen;
}

/* BREAK - PATTERN 3 */

.tile7, .tile8, .tile9 {
  border-radius: 100%;
  width: 80px;
  height: 100px;
  float: left;
  opacity: .7;
}

.tile7 {
  background-color: Gold;
  transform: rotate(45deg);
}
.tile8 {
  background-color: Black;
  transform: rotate(-45deg);
}
.tile9 {
  background-color: White;
  transform: rotate(45deg);
}

/* BREAK - PATTERN 4 */
#container4 {
  width: 150%;
  margin: -100px -50px -10% -50px;


}
.tile10, .tile11, .tile12 {
  float: left;
  height: 1600px;
  width: 15px;
  margin-right: 25px;


}

.tile10 {
  transform: rotate(15deg);
  opacity: 0.8;
  background-color:#2a6592;
}

.tile11 {
  transform: rotate(15deg);
  background-color:#db9833;
}

.tile12 {
  transform: rotate(15deg);
  background-color:#8ec3eb;
}

/* BREAK - PATTERN 4 */
#sunset {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.t1, .t2, .t3, .t4 {
  margin-top: -30%;
  height: 2600px;
  width: 75px;
  opacity: 0.5;
  background-color: white;
}

.t1 {
  float: left;
  transform: rotate(45deg);
}

.t2 {
  float: right;
  transform: rotate(-45deg);
}

.t3 {
  float: left;
  transform: rotate(-45deg);

}

.t4 {
  float: right;
  transform: rotate(45deg);
}
