body {
  background-color: #ccf2ff;
  text-align: left;
  line-height: 1.4em;
  font-family: sans-serif;
}

p{
  text-indent: 2em;
}

div {
  /* position: absolute;
  left: 10%;
  right: 10%; */
  margin: 0 auto;
  padding-left: 4em;
  padding-right: 3em;
  max-width: 1000px;
}

h1 {
  font-size: 2em;
  font-weight: 650;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: 650;
}

h4 {
}

h3 {
  font-style: italic;
}

li {
  padding-top: 5px;
}
