
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  font-family: 'Oswald', sans-serif;
}

button {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
}
button:hover {
  background: lightsalmon;
}

.color1 {
  background: salmon;
}
.color2 {
  background: green;
}
.color3 {
  background: pink;
}
.color4 {
  background: magenta;
}
.color5 {
  background: orange;
}
.color6 {
  background: skyblue;
}
.color7 {
  background: violet;
}
.color8 {
  background: grey;
}
.color9 {
  background: slategray;
}
.color10 {
  background: lightgreen;
}
