html {
  height: 100%;
}
body {
margin-top: 10%;
height: 100%;
background-repeat: repeat;
background-attachment: fixed;
text-align: center;
line-height: 1.4em;
font-size: 2em;
font-family: "Courier New", Courier, monospace;
}

img {
  max-width: 100%;
  transform: rotate(90deg);
}
